* {
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(#f1e8bd, #f7bc3f);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


/* HEADER */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right top, #971313, #971313, #971313, #971313, #971313, #9e1313, #a51213, #ac1213, #bc1113, #cd1012, #dd0f10, #ee0e0e);
  border: 4px solid #971313;
  height: 30%;
  margin-top: 24px;
  margin-bottom: 10px;
}

#header h1 {
  text-align: right;
  font-size: 50px;
  font-family: "Rubik", sans-serif;
  color: white;
}

#header img {
  width: 70px;
  height: 80px;
  border-radius: 50%;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.616);
  position: fixed;
  width: 100vw;
  z-index: 1;
  top: 0;
}

nav li a {
  font-family: "Rubik", sans-serif;
  color: #971313;
  font-size: 20px;
  font-weight: 700;
  border-radius: 30px;
  padding: 5px;
}

nav li a:active {
  color: #f7bc3f;
}

/* INTRODUCTION */
#intro h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #971313;
  margin-top: 150px;
  text-shadow: white 2px 5px;
}

#intro p {
  margin: 10px;
  text-align: justify;
  padding: 10px;
  color: #5c5a5a;
  font-family: "Rubik", sans-serif;
}

/* NAVIGATION */
#navigation {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10px;
}

#navigation #article {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px;
  padding: 5px;
}

#navigation #article div a img {
  height: 250px;
  width: 250px;
  border-radius: 40px;
  box-shadow: 25px 25px 15px #971313;
}

#navigation #article div a img:hover {
  box-shadow: -1px 1px #971313,
    -2px 2px #971313,
    -3px 3px #971313,
    -4px 4px #971313,
    -5px 5px #971313,
    -6px 6px #971313,
    -7px 7px #971313,
    -8px 8px #971313;
  transform: translate(20px, -20px);
  transition: transform 0.5s cubic-bezier(0, 0, 0, 0.96),
    box-shadow 0.5s cubic-bezier(0, 0, 0, 0.96);
}

#navigation #article div a p {
  color: white;
  text-align: center;
  text-shadow: 5px 5px 8px black;
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: 700;
  margin-top: 10%;
  bottom: 40%;
  left: 20%;
  font-family: "Ubuntu", sans-serif;
}

#navigation #article div a p:hover {
  transform: translate(10px, -10px);
  color: #971313;
  font-family: "Ubuntu",
    sans-serif;
  font-size: 24px;
  font-weight: 700;
}

/* DIAPO ET HORLOGE */
#js {
  display: flex;
  justify-content: space-around;
}

/* DIAPORAMA */
@keyframes slideTransition {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#diapo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
  background: whitesmoke;
}

#diapo img {
  border: 8px solid whitesmoke;
  animation: slideTransition 3s infinite;
  border-radius: 15px;
}


#diapo input {
  font-family: "Ubuntu",
    sans-serif;
  font-weight: 700;
  font-size: 3rem;
  height: 4rem;
  outline: none;
  background: none;
  color: #971313;
  vertical-align: middle;
  margin: 15px;
  border: none;
}

#diapo input:active {
  color: rgb(76, 143, 245);
}



/* HORLOGE */
.horloge {
  float: right;
}

#clock {
  font-weight: 700;
  font-size: 2rem;
}

#hex-color {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  font-weight: 600;
}


/* HISTOIRE DES ROIS */
/* Hugues Capet */
#story h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #971313;
  padding: 100px 0 30px 0;
  text-align: center;
  text-shadow: white 2px 5px;

}

#story .rois {
  height: auto;
  margin: 10px 60px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #874B22;
  border-radius: 70px;
}

#story .rois img {
  height: 100%;
  margin-right: 80px;
  float: left;
}

#story .rois p {
  height: 100%;
  text-align: justify;
  font-family: "Ubuntu", sans-serif;
  color: white;
  padding: 30px;
  float: right;
}

/* Louis IX */
#histoire h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #971313;
  padding: 100px 0 30px 0;
  text-align: center;
  text-shadow: white 2px 5px;

}

#histoire .kings {
  height: auto;
  margin: 10px 60px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #874B22;
  border-radius: 70px;
}

#histoire .kings img {
  height: 100%;
  margin-right: 80px;
  float: left;
}

#histoire .kings p {
  height: 100%;
  text-align: justify;
  font-family: "Ubuntu", sans-serif;
  color: white;
  padding: 30px;
  float: right;
}

/* FORMULAIRE */

#join h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #971313;
  padding: 100px 0 30px 0;
  text-align: center;
}

#join p {
  height: 100%;
  text-align: justify;
  font-family: "Ubuntu", sans-serif;
  color: #971313;
  padding: 30px;
  float: right;
}

form {
  background-color: #971313;
  display: grid;
  width: 80%;
  border: 3px solid #9c4f4f;
  border-radius: 10px;
  padding: 10px;
  height: 600px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 50px;
}

label {
  font-size: 1.3em;
  margin: 5px 0;
  color: #fff;
  font-weight: 700;
}

input {
  border-radius: 6px;
  height: 35px;
  width: 90%;
  margin: 0 auto;
}

input[type="submit"]:hover {
  color: blue;
  cursor: pointer;
}

input[type="number"] {
  width: 30%;
}

input[name="phone"] {
  width: 45%;
}