* {
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(#f1e8bd, #f7bc3f);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* HEADER */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #9c2929;
    border: 4px solid #971313;
    height: 30%;
    margin-top: 24px;
    margin-bottom: 10px;
}

#header h1 {
    text-align: right;
    font-size: 50px;
    font-family: "Rubik", sans-serif;
    color: white;
}

#header img {
    width: 70px;
    height: 80px;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.616);
    position: fixed;
    width: 100vw;
    z-index: 1;
    top: 0;
}

nav li a {
    font-family: "Rubik", sans-serif;
    color: #971313;
    font-size: 20px;
    font-weight: 700;
    border-radius: 30px;
    padding: 5px;
}

nav li a:hover {
    color: rgb(73, 73, 73);
}

/* Hugues Capet */
#story h3 {
    font-family: "Ubuntu", sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #971313;
    padding: 100px 0 30px 0;
    text-align: center;
}

#story .rois {
    height: auto;
    margin: 10px 60px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #874B22;
    border-radius: 70px;
}

#story .rois img {
    height: 100%;
    margin-right: 80px;
    float: left;
    border-radius: 30px;
}

#story .rois p {
    height: 100%;
    text-align: justify;
    font-family: "Ubuntu", sans-serif;
    color: white;
    padding: 30px;
    float: right;
}